@charset "UTF-8";

@import "variables";
@import "mixins";
@import "base";
@import "pages";

.layout {
    position: relative;
    padding-top: 60px;
    & .notice {
        height: 60px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: #c0d3f5;
        line-height: 60px;
        text-align: center;
        color: #666;
    }
}

.captain {
    margin: -1rem 0 1.625rem 0;
    color: #aaa;
    text-align: center;
    font-style: italic;
}
