shell-emulator=true
store-dir=~/.pnpm-store
trust-policy=no-downgrade
trust-policy-exclude[]=chokidar@4.0.3
trust-policy-exclude[]=semver@6.3.1
only-built-dependencies[]=@parcel/watcher
only-built-dependencies[]=@sentry/cli
