{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "bracketSameLine": false,
  "arrowParens": "avoid",
  "quoteProps": "consistent",
  "plugins": ["prettier-plugin-tailwindcss"]
}
