---
import Head from '@components/Head.astro';

interface Props {
  description: string;
  title: string;
}

const { description, title } = Astro.props;
---

<!doctype html>
<html lang="zh-Hans">
  <head>
    <Head description={description} title={title} />
  </head>
  <body class="colorModeTransition min-h-screen bg-bg text-foreground">
    <slot />
  </body>
</html>
