.lineTitle {
  @apply relative pb-20 font-normal text-primary opacity-25 dark:text-dark-primary md:pb-[60px];
  transition:
    background 0.25s var(--ease-in-out-quad),
    color 0.25s var(--ease-in-out-quad);
  &::after {
    @apply absolute left-40 right-0 top-[11px] h-px content-[''];
    @apply bg-grey dark:bg-dark-grey;
    transition:
      background 0.25s var(--ease-in-out-quad),
      color 0.25s var(--ease-in-out-quad);
  }
}

.journalCard {
  @apply pt-0 !important;
}

.fade::after {
  @apply absolute bottom-0 left-0 right-0 h-12;
  content: '';
  background: linear-gradient(180deg, theme(colors.card/0) 0%, theme(colors.card) 95%);
}

:global(.dark) .fade::after {
  background: linear-gradient(180deg, theme(colors.dark.card/0) 0%, theme(colors.dark.card) 95%);
}
