.limitToTwoLines {
  @apply line-clamp-2 text-ellipsis whitespace-normal sm:line-clamp-3;
  overflow-wrap: normal;
}
.showDetails {
  p {
    display: -webkit-box;
  }
  h2 {
    margin-bottom: 10px;
  }
}
.ArticlesListContainer {
  transition: opacity 0.25s;
}
.listTile {
  @apply relative grid;
  @apply sm:grid-cols-[1fr];
  grid-template-columns: 1fr 457px;
  grid-template-rows: 2;
  column-gap: 30px;
  &:not(last-child) {
    @apply mb-[75px] sm:mb-0;
  }
  @media (max-width: theme(screens.lg.max)) and (min-width: theme(screens.md.min)) {
    grid-template-columns: 1fr 1fr !important;
    .ArticleLink {
      max-width: calc(50vw - 55px);
    }
  }
  @media (max-width: theme(screens.sm.max)) {
    grid-template-columns: 1fr !important;
  }
}
.listTile.reverse {
  grid-template-columns: 457px 1fr;
}
.listItemRow {
  @apply relative grid items-center;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 500px;
  grid-column-gap: 96px;
  grid-template-rows: 1;
  margin-bottom: 50px;
  @media (max-width: theme(screens.lg.max)) and (min-width: theme(screens.lg.min)) {
    grid-column-gap: 24px;
    grid-template-columns: 1fr 1fr;
  }
  @media (max-width: theme(screens.md.max)) and (min-width: theme(screens.md.min)) {
    grid-column-gap: 24px;
    grid-template-columns: 2fr 3fr;
  }
  @media (max-width: theme(screens.sm.max)) {
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.2);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    grid-template-columns: 1fr;
  }
}
.moreLink {
  border-radius: 5px;
  @media (max-width: theme(screens.sm.max)) {
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.2);
  }
}
@media (max-width: theme(screens.sm.max)) {
  .listItemRow {
    @apply bg-card dark:bg-dark-card;
    transition:
      background 0.25s var(--ease-in-out-quad),
      color 0.25s var(--ease-in-out-quad);
  }
}
.listItemTile {
  @apply relative;
  @media (max-width: theme(screens.sm.max)) {
    margin-bottom: 60px;
    margin-bottom: 40px;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.2);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }
}
@media (max-width: theme(screens.sm.max)) {
  .listItemTile {
    @apply bg-card dark:bg-dark-card;
    transition:
      background 0.25s var(--ease-in-out-quad),
      color 0.25s var(--ease-in-out-quad);
  }
}
/* If only 1 article, dont create 2 rows.*/
.listRow {
  @apply grid;
  grid-template-rows: 1fr 1fr;
}
.listRow.oneArticle {
  grid-template-rows: 1fr;
}
.ImageContainer {
  @apply relative;
  box-shadow:
    0 30px 60px -10px rgba(0, 0, 0, 0.3),
    0 18px 36px -18px rgba(0, 0, 0, 0.33);
  transition:
    transform 0.3s var(--ease-out-quad),
    box-shadow 0.3s var(--ease-out-quad);
  & > div {
    height: 100%;
  }
  @media (max-width: theme(screens.sm.max)) {
    overflow: hidden;
    margin-bottom: 0;
    box-shadow: none;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
  &.narrow {
    box-shadow:
      0 30px 60px -10px rgba(0, 0, 0, 0.22),
      0 18px 36px -18px rgba(0, 0, 0, 0.25);
  }
}
.Title {
  @apply font-sans font-bold text-primary dark:text-dark-primary;
  @apply leading-[1.33];
  @apply md:text-[21px];
  @apply sm:text-2xl sm:leading-[1.45];
  @apply text-[21px] sm:mb-[10px] sm:px-5 sm:pb-0 sm:pt-[30px] md:mb-[15px];
  transition: color 0.3s ease-in-out;
}
.Excerpt {
  @media (max-width: theme(screens.sm.max)) {
    display: -webkit-box;
  }
}
.ArticleLink {
  transition: transform 0.33s var(--ease-out-quart);
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  &:hover .ImageContainer,
  &:focus .ImageContainer {
    @apply -translate-y-px;
    box-shadow:
      0 50px 80px -20px rgba(0, 0, 0, 0.27),
      0 30px 50px -30px rgba(0, 0, 0, 0.3);
  }
  &:hover h2,
  &:focus h2 {
    @apply text-accent dark:text-dark-accent;
    transition:
      background 0.25s var(--ease-in-out-quad),
      color 0.25s var(--ease-in-out-quad);
  }
  @media (max-width: theme(screens.sm.max)) {
    &:hover .ImageContainer {
      transform: none;
      box-shadow: initial;
    }
    &:active {
      transform: scale(0.97) translateY(3px);
    }
  }
}
.HeroHeading {
  a {
    @apply text-accent dark:text-accent;
    transition:
      background 0.25s var(--ease-in-out-quad),
      color 0.25s var(--ease-in-out-quad);
  }
}
.GridButton {
  @apply relative flex h-9 w-9 items-center justify-center;
  @apply hover:bg-hover dark:hover:bg-dark-hover;
  border-radius: 50%;
  background: transparent;
  transition: background 0.25s;
  svg {
    opacity: 0.25;
    transition: opacity 0.2s;
    path {
      @apply fill-primary dark:fill-dark-primary;
      transition: fill 0.25s var(--ease-in-out-quad);
    }
  }
  &.active svg {
    @apply opacity-100;
  }
}
