@reference './global.css';

.ArticleBody {
  padding: 120px 0 35px;
  transition: background 0.2s linear;
  @apply px-5 py-14;
  @apply font-serif;
  @apply flex flex-col justify-center;
}
.ArticleBody {
  img {
    @apply block z-0 mx-auto h-auto max-w-full rounded-[5px];
  }
  :global(.fullImage) {
    @apply pointer-events-none relative mx-auto mb-[60px] mt-[25px] max-w-[100vw] -mx-5 w-screen;
    img {
      @apply rounded-none;
    }
  }
}
.ArticleBody {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply mx-auto my-0 font-sans font-bold text-primary;
    transition:
      background 0.25s var(--ease-in-out-quad),
      color 0.25s var(--ease-in-out-quad);
  }
  h1 {
    @apply break-words text-[52px] leading-[1.15];
    @apply sm:text-[38px] sm:leading-[1.2];
    @apply text-[32px] leading-[1.3];
  }
  h2 {
    @apply break-words text-[32px] leading-[1.33];
    @apply sm:text-[21px];
    @apply text-2xl leading-[1.45];
  }
  h3 {
    @apply break-words text-2xl leading-[1.45];
    @apply text-[22px];
  }
  h4,
  h5 {
    @apply break-words text-xl leading-[1.75];
    @apply text-base;
  }
  h6 {
    @apply break-words text-base leading-[1.6];
    @apply text-sm;
  }
  h1,
  h1 *,
  h2,
  h2 * {
    margin: 30px auto 40px;
  }
  h3,
  h3 * {
    margin: 25px auto;
  }
  h4,
  h4 *,
  h5,
  h5 * {
    margin: 20px auto 10px;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply w-full max-w-[486px] sm:max-w-[507px];
  }
}
.ArticleBody {
  a {
    @apply text-accent no-underline;
    @apply visited:text-accent visited:opacity-80;
    @apply hover:underline focus:underline;
    transition:
      background 0.25s var(--ease-in-out-quad),
      color 0.25s var(--ease-in-out-quad);
  }
}
.ArticleBody {
  blockquote {
    @apply relative mx-auto mb-9 mt-2.5 w-full italic text-secondary;
    @apply max-w-[486px] sm:max-w-[507px];
    @apply px-4;
    transition:
      background 0.25s var(--ease-in-out-quad),
      border 0.25s var(--ease-in-out-quad),
      color 0.25s var(--ease-in-out-quad);
    & > p {
      @apply mb-1;
      color: inherit;
      &::after,
      &::before {
        content: none;
      }
    }
    &::after {
      content: '\201D';
      @apply absolute left-full top-full -ml-8 -mt-8 text-[72px] text-bg-alt;
    }
  }
}
.ArticleBody {
  ul,
  dl,
  ol {
    padding: 15px 0 30px 40px;
    @apply relative mx-auto my-0 w-full list-none text-lg text-primary;
    @apply max-w-[486px] pl-7 sm:max-w-[507px];
    transition:
      background 0.25s var(--ease-in-out-quad),
      color 0.25s var(--ease-in-out-quad);
    & > li {
      @apply relative pb-3 pl-2;
      p {
        @apply p-0;
      }
    }
    li::before {
      @apply absolute left-[-30px] top-2.5 inline-block pl-0;
      @apply text-primary;
      transition:
        background 0.25s var(--ease-in-out-quad),
        color 0.25s var(--ease-in-out-quad);
    }
  }
  ul > li::before {
    @apply h-2 w-2 bg-secondary content-[''];
    transition:
      background 0.25s var(--ease-in-out-quad),
      color 0.25s var(--ease-in-out-quad);
  }
  ol {
    counter-reset: list;
  }
  ol > li::before {
    @apply top-0 font-semibold w-7 -left-7;
    counter-increment: list;
    content: counter(list) '.';
  }
  dl {
    @apply mb-10 bg-card;
    transition:
      background 0.25s var(--ease-in-out-quad),
      color 0.25s var(--ease-in-out-quad);
  }
}
.ArticleBody {
  p:not(:where(svg p)),
  :global(.math-display) {
    @apply w-full text-lg leading-[1.756] text-primary;
    @apply max-w-[486px] sm:max-w-[507px];
    @apply mx-auto mb-[25px] mt-0 py-0 text-base leading-7;
    transition:
      background 0.25s var(--ease-in-out-quad),
      color 0.25s var(--ease-in-out-quad);
    b {
      @apply font-extrabold;
    }
  }
}
.ArticleBody {
  :global {
    pre.astro-code {
      @apply mx-auto w-full max-w-[744px];
      @apply daisy-mockup-code;
      @apply my-0 overflow-auto p-8 pl-8 sm:pl-10 pt-6 text-[14px] leading-[20px];
      @apply bg-prism-background dark:bg-dark-prism-background;
      font-family: var(--font-family-monospace);
      @apply mb-[50px] mt-[15px];
      transition:
        background 0.25s var(--ease-in-out-quad),
        color 0.25s var(--ease-in-out-quad);
      border-radius: 5px;
      code {
        counter-reset: step;
        counter-increment: step 0;
      }

      code .line {
        @apply relative pl-4 whitespace-pre-wrap inline-block;
      }
      .line {
        &::before,
        &::after {
          @apply absolute top-0 h-full w-8 sm:w-10;
        }
        &::before {
          @apply left-0 -translate-x-full;
          content: counter(step);
          counter-increment: step;
          @apply text-right text-gray-400;
        }
        &::after {
          @apply right-0 translate-x-full;
        }
        &.highlighted {
          @apply bg-bg-alt/20 w-full;
          &::before,
          &::after {
            @apply bg-bg-alt/20;
          }
          &::after {
            content: '';
          }
          &::before {
            @apply border-l-2 border-solid border-success;
          }
        }
      }
    }
    :not(pre.astro-code) > code {
      @apply rounded px-1 py-0.5 bg-accent/20;
      @apply font-normal text-accent text-[0.9em];
      font-family: var(--font-family-monospace);
      transition:
        background 0.25s var(--ease-in-out-quad),
        color 0.25s var(--ease-in-out-quad);
    }
  }
}
.ArticleBody {
  table:not(:where([class~='no-style'] table)) {
    @apply table;
    @apply relative mx-auto mb-[85px] mt-[45px] w-auto overflow-hidden;
    @apply border-separate rounded-[5px] border border-solid;
    @apply border-bg-alt bg-card text-secondary;
    @apply border-collapse mb-[55px] mt-[15px] max-w-[480px] sm:mb-[65px] sm:mt-[25px];
    line-height: 1.65;
    max-width: 960px;
    transition:
      background 0.25s var(--ease-in-out-quad),
      color 0.25s var(--ease-in-out-quad);
    thead {
      @apply relative border-collapse text-left font-sans font-semibold text-primary;
      line-height: 1.756;
      transition:
        background 0.25s var(--ease-in-out-quad),
        color 0.25s var(--ease-in-out-quad);
    }
    thead td,
    th {
      @apply bg-card px-[30px] py-[18px] text-base;
      @apply px-5 py-3.5 text-sm sm:px-5 sm:py-3.5;
      transition:
        background 0.25s var(--ease-in-out-quad),
        color 0.25s var(--ease-in-out-quad);
    }
    tbody {
      td {
        @apply border border-solid border-bg-alt;
        @apply break-words bg-card px-[30px] py-[15px] text-base;
        @apply px-5 py-3.5 text-sm sm:px-5 sm:py-3.5;
        transition:
          background 0.25s var(--ease-in-out-quad),
          color 0.25s var(--ease-in-out-quad);
      }
    }
  }
}
.ArticleBody {
  :global(.captain),
  figcaption,
  caption {
    @apply -mt-6 mb-6 w-full pt-1.5 text-center text-sm text-gray;
    transition:
      background 0.25s var(--ease-in-out-quad),
      color 0.25s var(--ease-in-out-quad);
  }
  table + :global(.captain),
  table caption {
    @apply mb-4 mt-2;
  }
  table p {
    @apply mb-4;
  }
  table ul {
    @apply pb-2;
  }
  table li {
    @apply pb-2;
  }
}
.ArticleBody {
  strong {
    @apply font-sans;
  }
  dd {
    @apply mb-4;
  }
  hr {
    @apply relative mx-auto my-12 w-full max-w-[680px] text-bg-alt;
    @apply max-w-[486px] px-5 py-0 sm:max-w-[507px];
    transition:
      background 0.25s var(--ease-in-out-quad),
      color 0.25s var(--ease-in-out-quad);
  }
  iframe {
    margin-bottom: 40px;
    width: 100%;
    position: relative;
  }
  svg[id|='mermaid'] {
    margin: 0 auto;
  }
}
.ArticleBody {
  :global(.callout) {
    @apply mx-auto mb-[35px] mt-0 p-4 pl-12 mb-[25px];
    @apply w-full max-w-[486px] sm:max-w-[507px];
    @apply bg-bg-alt/20;
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply relative;
      :global(.callout-icon) {
        @apply absolute -left-9 top-0 mt-0 inline-block w-8 text-center;
      }
    }
    > *:last-child {
      @apply mb-0 pb-0;
    }
    > *:first-child {
      @apply mt-0 pt-0;
    }
  }
}

:global {
  .medium-zoom-overlay {
    @apply z-10 backdrop-blur-sm;
  }
  .medium-zoom-image {
    @apply z-20;
  }
}
