@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'lxgw-wenkai-lite-webfont/style.css';
@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);

:root {
  --ease-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  --ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  --ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
  --ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  --ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
}
html {
  --color-primary: 0 0 0;
  --color-secondary: 47 53 66;
  --color-bg: 248 249 250;
  --color-card: 255 255 255;
  --color-accent: 30 144 255;
  --color-gray: 116 125 140;
  --color-error: 255 107 129;
  --color-success: 123 237 159;
  --color-warn: 255 165 2;
  --color-bg-alt: 206 214 224;
  --color-bg-revert: 47 53 66;
}
html.dark {
  --color-primary: 255 255 255;
  --color-secondary: 223 228 234;
  --color-bg: 47 53 66;
  --color-card: 0 0 0;
  --color-accent: 236 204 104;
  --color-gray: 116 125 140;
  --color-error: 255 71 87;
  --color-success: 46 213 115;
  --color-warn: 255 127 80;
  --color-bg-alt: 164 176 190;
  --color-bg-revert: 241 242 246;
}

img.Image__Zoom ~ div {
  background: transparent !important;
}

body {
  overscroll-behavior-x: none;
  text-align: justify;
}

.colorModeTransition {
  transition:
    background 0.25s var(--ease-in-out-quad),
    border 0.25s var(--ease-in-out-quad),
    color 0.25s var(--ease-in-out-quad);
}

html {
  @apply font-sans;
  -webkit-font-smoothing: antialiased;
  height: 100vh;
  overflow: overlay;
}

body {
  height: 100vh;
  overflow: overlay;
}

article {
  word-break: break-word;
}

a:focus {
  outline: none;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
  align-self: center;
}

.underline {
  text-decoration: underline;
}

button,
input,
select,
textarea {
  color: inherit;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
}

code,
kbd,
pre,
samp {
  @apply font-monospace;
  font-feature-settings: 'calt';
}

fieldset,
button {
  appearance: none;
  border: none;
  outline: none;
}

table {
  border-spacing: 0;
}

audio:not([controls]) {
  display: none;
}

details {
  display: block;
}

input {
  &:focus,
  &:active {
    outline: none;
  }
  &[type='number'] {
    width: auto;
  }
}

a {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

img.Image__Zoom ~ div {
  background: transparent !important;
}

.article-columns {
  @apply w-full text-lg leading-[1.756] text-palette-primary;
  @apply mx-auto sm:px-0 sm:py-0;
  @apply max-w-[680px] sm:max-w-[486px] md:max-w-[507px];
  @apply grid items-center gap-x-5;
  @apply sm:flex sm:flex-col;
  > * {
    @apply max-w-full;
  }
}

svg.iconify {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}

.math-display {
  overflow: auto;
}

.katex-display > .katex {
  white-space: normal !important;
}
/* Add space between broken lines: */
.katex-display .base {
  margin: 0 !important;
}
.katex-display .newline {
  margin: 0.75em 0 !important;
}
/* Compensate by reducing space around display math */
.katex-display {
  margin: 0.5em 0 !important;
}
.overflow-overlay {
  overflow: auto;
  overflow: overlay;
}
.overflow-x-overlay {
  overflow-x: auto;
  overflow-x: overlay;
}
.overflow-y-overlay {
  overflow-y: auto;
  overflow-y: overlay;
}

html {
  background-color: theme(colors.palette.bg);
  @media (screen(sm)) {
    background: theme(colors.palette.bgRevert);
  }
}
.mix-light,
.mix-dark {
  p {
    @apply bg-palette-bg;
  }
}

.mix-light {
  .gatsby-resp-image-wrapper {
    @apply mix-blend-darken;
  }
}
.mix-dark {
  .gatsby-resp-image-wrapper {
    @apply mix-blend-normal;
  }
}
.mix-dark.mix-both {
  .gatsby-resp-image-wrapper {
    @apply mix-blend-darken invert;
  }
}

.dark {
  .mix-dark {
    .gatsby-resp-image-wrapper {
      @apply mix-blend-lighten;
    }
  }
  .mix-light {
    .gatsby-resp-image-wrapper {
      @apply mix-blend-normal;
    }
  }
  .mix-light.mix-both {
    .gatsby-resp-image-wrapper {
      @apply mix-blend-lighten invert;
    }
  }
}

.jtabs-content + div {
  display: none;
}

.jtabs .jtabs-headers {
  /* flex-wrap: wrap; */
  font-size: 14px;
  max-width: calc(100vw-40px);
}
.jtabs .jtabs-headers > div:not(.jtabs-border) {
  padding: 6px 8px;
}
.jtabs .jtabs-controls .jtabs-add {
  display: none;
}
