@import './global.css';

.hero {
  max-width: calc(min(1560px, 100%));
  margin: 0 auto;
  box-shadow:
    0 30px 60px -10px rgba(0, 0, 0, 0.2),
    0 18px 36px -18px rgba(0, 0, 0, 0.22);
  @media (max-width: 640px) {
    height: 220px;
    object-fit: cover;
  }
}

.lineTitle {
  @apply text-primary relative pb-20 font-normal opacity-25 md:pb-[60px];
  transition:
    background 0.25s var(--ease-in-out-quad),
    color 0.25s var(--ease-in-out-quad);
  &::after {
    @apply absolute left-40 right-0 top-[11px] h-px content-[''];
    @apply bg-gray;
    transition:
      background 0.25s var(--ease-in-out-quad),
      color 0.25s var(--ease-in-out-quad);
  }
}

