.cardView {
  @media (max-width: theme(screens.sm.max)) {
    &::before {
      @apply bg-palette-primary absolute left-0 top-0 h-5 w-full;
      min-width: 360px;
      content: '';
      transition:
        background 0.25s var(--ease-in-out-quad),
        color 0.25s var(--ease-in-out-quad);
    }
    &::after {
      @apply bg-palette-bg absolute left-0 top-2.5 h-2.5 w-full;
      content: '';
      min-width: 360px;
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
      transition:
        background 0.25s var(--ease-in-out-quad),
        color 0.25s var(--ease-in-out-quad);
    }
  }
}
