@reference '../../../styles/global.css';

.box {
  @apply relative rounded-lg border border-gray p-4 pt-5;
}
.title {
  @apply absolute top-0 -translate-y-1/2 bg-background p-2 text-lg;
}
.code {
  @apply font-monospace;
}
