.NavContainer {
  @media screen and (max-height: 800px) {
    padding-top: 50px;
  }
}
.LogoLink {
  &:hover {
    .logoSvg {
      @apply opacity-0;
    }
    .logoPng {
      @apply opacity-100;
    }
  }
}
.logoPng,
.logoSvg {
  @apply transition-opacity;
  transition-duration: 400ms;
}
.IconWrapper {
  @apply relative ml-7 flex w-10 items-center justify-center opacity-50 hover:opacity-100;
  @apply md:ml-[10px] md:inline-flex hover:md:opacity-50;
  @apply sm:ml-2 sm:inline-flex hover:sm:opacity-50;
  font-size: 24px;
  border-radius: 5px;
  width: 40px;
  height: 25px;
  transition: opacity 0.3s ease;
  svg {
    path {
      @apply fill-palette-primary;
      transition: fill 0.25s var(--ease-in-out-quad);
    }
  }
}
.MoonOrSun {
  border-radius: 50%;
  transition: all 0.45s ease;
  &::before {
    @apply absolute border-[2px] border-solid border-palette-primary;
    @apply opacity-100 dark:opacity-0;
    transform: translate(0, 0);
    content: '';
    right: -9px;
    top: -9px;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    transition: transform 0.45s ease;
  }
  &::after {
    @apply absolute left-1/2 top-1/2 h-2 w-2 scale-0 dark:scale-100;
    @apply md:scale-0 dark:md:scale-[0.92];
    content: '';
    border-radius: 50%;
    margin: -4px 0 0 -4px;
    box-shadow:
      0 -23px 0 theme(colors.palette.primary),
      0 23px 0 theme(colors.palette.primary),
      23px 0 0 theme(colors.palette.primary),
      -23px 0 0 theme(colors.palette.primary),
      15px 15px 0 theme(colors.palette.primary),
      -15px 15px 0 theme(colors.palette.primary),
      15px -15px 0 theme(colors.palette.primary),
      -15px -15px 0 theme(colors.palette.primary);
    transition: all 0.35s ease;
  }
}
:global(.dark) .MoonOrSun {
  &:before {
    transform: translate(14px, -14px);
  }
}
.MoonMask {
  border-radius: 50%;
  transform: translate(0, 0);
  transition:
    background 0.25s var(--ease-in-out-quad),
    color 0.25s var(--ease-in-out-quad),
    transform 0.45s ease;
}
:global(.dark) .MoonMask {
  transform: translate(14px, -14px);
}
