.BackArrowIconContainer {
  transition: 0.2s transform var(--ease-out-quad);
  animation: fadein 0.3s linear forwards;
}
@keyframes fadein {
  to {
    @apply opacity-100;
  }
}
.NavContainer {
  @media screen and (max-height: 800px) {
    padding-top: 50px;
  }
}
.LogoLink {
  &:hover {
    .BackArrowIconContainer {
      transform: translateX(-3px);
    }
  }
}
.IconWrapper {
  @apply relative flex w-10 items-center justify-center opacity-50 hover:opacity-100;
  @apply md:ml-[10px] md:inline-flex md:scale-[0.708] hover:md:opacity-50;
  font-size: 24px;
  border-radius: 5px;
  width: 40px;
  height: 25px;
  transition: opacity 0.3s ease;
  margin-left: 30px;
  svg {
    path {
      @apply fill-primary dark:fill-dark-primary;
      transition: fill 0.25s var(--ease-in-out-quad);
    }
  }
}
.MoonOrSun {
  border-radius: 50%;
  transition: all 0.45s ease;
  &::before {
    @apply absolute border-[2px] border-solid border-primary dark:border-dark-primary;
    @apply opacity-100 dark:opacity-0;
    transform: translate(0, 0);
    content: '';
    right: -9px;
    top: -9px;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    transition: transform 0.45s ease;
  }
  &::after {
    @apply absolute left-1/2 top-1/2 h-2 w-2 scale-0 dark:scale-100;
    @apply md:scale-0 dark:md:scale-[0.92];
    content: '';
    border-radius: 50%;
    margin: -4px 0 0 -4px;
    box-shadow:
      0 -23px 0 theme(colors.primary),
      0 23px 0 theme(colors.primary),
      23px 0 0 theme(colors.primary),
      -23px 0 0 theme(colors.primary),
      15px 15px 0 theme(colors.primary),
      -15px 15px 0 theme(colors.primary),
      15px -15px 0 theme(colors.primary),
      -15px -15px 0 theme(colors.primary);
    transition: all 0.35s ease;
  }
}
:global(.dark) .MoonOrSun {
  &:before {
    transform: translate(14px, -14px);
  }
  &::after {
    box-shadow:
      0 -23px 0 theme(colors.dark.primary),
      0 23px 0 theme(colors.dark.primary),
      23px 0 0 theme(colors.dark.primary),
      -23px 0 0 theme(colors.dark.primary),
      15px 15px 0 theme(colors.dark.primary),
      -15px 15px 0 theme(colors.dark.primary),
      15px -15px 0 theme(colors.dark.primary),
      -15px -15px 0 theme(colors.dark.primary);
  }
}
.MoonMask {
  border-radius: 50%;
  transform: translate(0, 0);
  transition:
    background 0.25s var(--ease-in-out-quad),
    color 0.25s var(--ease-in-out-quad),
    transform 0.45s ease;
}
:global(.dark) .MoonMask {
  transform: translate(14px, -14px);
}
.menu {
}
