---
import Container from '@components/Container.astro';
import { HOME } from '@consts';
import PageLayout from '@layouts/PageLayout.astro';

---
<style lang="postcss">

.text {
  @apply text-primary relative font-monospace leading-[1];
  @apply h-[200px] text-[200px] sm:h-[280px] sm:text-[280px];
  transition:
    background 0.25s var(--ease-in-out-quad),
    border 0.25s var(--ease-in-out-quad),
    color 0.25s var(--ease-in-out-quad);
}
.white {
  @apply bg-background absolute -left-2.5 -right-2.5;
  @apply z-4 h-1;
  animation: whiteMove 3s ease-out infinite;
  transition:
    background 0.25s var(--ease-in-out-quad),
    border 0.25s var(--ease-in-out-quad),
    color 0.25s var(--ease-in-out-quad);
}

.text::before {
  @apply text-primary/90 absolute left-1 top-0 z-2 h-0 overflow-hidden;
  content: attr(data-text);
  animation: redShadow 1s ease-in infinite;
  filter: contrast(200%);
  text-shadow: 1px 0 0 red;
  transition:
    background 0.25s var(--ease-in-out-quad),
    border 0.25s var(--ease-in-out-quad),
    color 0.25s var(--ease-in-out-quad);
}

.text::after {
  @apply bg-background/90 text-primary/80 absolute -left-2 top-0 z-3 h-full overflow-hidden;
  content: attr(data-text);
  animation: redHeight 1.5s ease-out infinite;
  filter: contrast(200%);
  text-shadow: -1px 0 0 cyan;
  mix-blend-mode: darken;
  transition:
    background 0.25s var(--ease-in-out-quad),
    border 0.25s var(--ease-in-out-quad),
    color 0.25s var(--ease-in-out-quad);
}
:global(.dark) .text::after {
  mix-blend-mode: lighten;
}

@keyframes redShadow {
  20% {
    height: 88.89%;
  }
  60% {
    height: 16.67%;
  }
  100% {
    height: 116.67%;
  }
}

@keyframes redHeight {
  20% {
    height: 116.67%;
  }
  35% {
    height: 33.33%;
  }
  50% {
    height: 11.11%;
  }
  60% {
    height: 5.56%;
  }
  70% {
    height: 94.44%;
  }
  80% {
    height: 61.11%;
  }
  100% {
    height: 0;
  }
}

@keyframes whiteMove {
  8% {
    top: 105.56%;
  }
  14% {
    top: 22.22%;
  }
  20% {
    top: 116.67%;
  }
  32% {
    top: 5.56%;
  }
  99% {
    top: 83.33%;
  }
}
</style>

<PageLayout description={HOME.DESCRIPTION} title={HOME.TITLE}>
  <Container>
    <div class="flex w-full items-center justify-center">
      <div class="text" data-text="404">
        404
        <div class="white" />
      </div>
    </div>
    <h1 class="text-primary mt-20 text-center text-lg">找不到你访问的页面</h1>
      <div class="flex justify-center pt-10">
        <a
          class="text-primary hover:text-accent p-2 underline-offset-4 hover:underline"
          href="/"
        >
          回到首页
        </a>
      </div>
  </Container>
</PageLayout>
