---
import type { CollectionEntry } from 'astro:content';
import ArticlesPair from '@components/ArticlesPair.astro';
import Container from '@components/Container.astro';
import ListTitle from '@components/ListTitle.astro';
import { HOME } from '@consts';
import PageLayout from '@layouts/PageLayout.astro';
import { algolia } from '@lib/algolia';
import dayjs from '@lib/dayjs';
import { getMarkdownExcerpt } from '@lib/html';
import { cn } from '@lib/utils';
import EvervaultCard from '@react/components/EvervaultCard';
import { getCollection } from 'astro:content';

export const prerender = true;

const blogs: CollectionEntry<'blog'>[] = await getCollection('blog');
const journals: CollectionEntry<'journals'>[] = (await getCollection('journals'))
  .sort((a: CollectionEntry<'journals'>, b: CollectionEntry<'journals'>) => b.data.date.valueOf() - a.data.date.valueOf());
const latestJournals = journals.slice(0, 5).map(journal => ({
  excerpt: getMarkdownExcerpt(journal.body || '', 220),
  journal,
}));
const featuredBlogs: CollectionEntry<'blog'>[] = blogs
  .filter(blog => blog.data.featured)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
const pairs: [CollectionEntry<'blog'>, CollectionEntry<'blog'>][] = featuredBlogs.reduce(
  (result: [CollectionEntry<'blog'>, CollectionEntry<'blog'>][], _, index, array) => {
    if (index % 2 === 0) {
      result.push(array.slice(index, index + 2) as [CollectionEntry<'blog'>, CollectionEntry<'blog'>]);
    }
    return result;
  },
  [],
);
algolia();
---
<script>
import { navigate } from 'astro:transitions/client';

document.addEventListener('astro:page-load', () => {
  document.querySelectorAll('.journalCard').forEach((item) => {
    item.addEventListener('click', () => {
      const href = item.getAttribute('data-href');
      if (href) {
        navigate(href);
      }
    });
  });
});
</script>

<style>
@reference '../styles/global.css';

.journalCard {
  article {
    box-shadow:
      0 30px 60px -10px rgba(0, 0, 0, 0.2),
      0 18px 36px -18px rgba(0, 0, 0, 0.22);
  }
}
:global(.dark) {
  .journalCard article {
    box-shadow: inset -1px 1px 0 0 #ffffff5d;
  }
}

.fade::after {
  background: linear-gradient(
    180deg,
    theme('colors.card / 0') 0%,
    theme('colors.card') 95%
  );
}
</style>

<PageLayout description={HOME.DESCRIPTION} title={HOME.TITLE}>
  <ListTitle />
  <Container>
    <h3
      class={cn(
        'mt-20 text-primary relative pb-20 font-normal opacity-25 md:pb-[60px] colorModeTransition',
        'after:absolute after:left-40 after:right-0 after:top-[11px] after:h-px after:content-[\'\'] after:bg-gray',
      )}
    >
      精选文章
    </h3>
    {pairs.map((ap, index) => (
      <ArticlesPair
        gridLayout="tiles"
        posts={ap}
        showAllLink={index === pairs.length - 1}
      />
    ))}
  </Container>
  <Container>
    <h3
      class={cn(
        'mt-20 text-primary relative pb-20 font-normal opacity-25 md:pb-[60px] colorModeTransition',
        'after:absolute after:left-40 after:right-0 after:top-[11px] after:h-px after:content-[\'\'] after:bg-gray',
      )}
    >
      最新随笔
    </h3>
    <div class="relative z-10 columns-1 gap-y-6 sm:columns-2 sm:gap-x-6">
      {latestJournals.map(({ excerpt, journal }) => (
        <div
          class={cn(
            'journalCard',
            'relative z-10 max-w-none block',
            'colorModeTransition break-inside-avoid-column cursor-pointer',
          )}
          data-href={`/journal${dayjs(journal.data.date).format('YYYY-MM-DD')}`}
        >
          <article
            class={cn(
              'fade',
              'relative rounded-2xl bg-card px-10 pb-2 pt-12 sm:pt-8 md:px-8',
              'after:absolute after:bottom-0 after:left-0 after:right-0 after:h-12 after:content-[\'\']',
              'colorModeTransition overflow-hidden',
            )}
          >
            <p class="line-clamp-12 whitespace-pre-wrap text-primary leading-8">{excerpt}</p>
          </article>
        </div>
      ))}
      <div
        class={cn('colorModeTransition break-inside-avoid-column')}
      >
        <a
          class={cn(
            'journalCard',
            'flex h-56 w-full items-center justify-center rounded-2xl bg-card',
            'colorModeTransition overflow-hidden',
            'px-0! pt-0!',
          )}
          href="/journals"
        >
          <EvervaultCard client:only="react" text="查看更多随笔" />
        </a>
      </div>
    </div>
  </Container>
</PageLayout>
