---
import Minimal from '@layouts/Minimal.astro';
import Contrast from './index';

---
<Minimal description="" title="">
  <div class="w-sceen h-screen relative">
    <Contrast client:only="react" />
  </div>
</Minimal>

