---
import type { CollectionEntry } from 'astro:content';
import { cn } from '@lib/utils';
import EvervaultCard from '@react/components/EvervaultCard';
import ListItem from './ArticleListItem.astro';

interface Props {
  posts: [CollectionEntry<'blog'>, CollectionEntry<'blog'>] | [CollectionEntry<'blog'>];
  gridLayout: 'rows' | 'tiles';
  showAllLink?: boolean;
}

const { gridLayout, posts, showAllLink } = Astro.props;
const pairClassName = gridLayout === 'tiles'
  ? cn(
    'relative grid grid-cols-1 gap-y-10 sm:gap-x-6 sm:gap-y-0',
    'sm:grid-cols-2 lg:grid-cols-[minmax(0,_1fr)_457px]',
  )
  : cn('grid grid-cols-1 gap-y-10', {
    'grid-rows-1': posts.length === 1,
    'grid-rows-2': posts.length > 1,
  });
---

<style>
@reference '../styles/global.css';

.moreLink {
  border-radius: 5px;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.2);
  @media (width >= 40rem) {
    box-shadow: none;
  }
}
</style>

<div class={pairClassName}>
      {posts.slice(0, 2).map((article, i) => (
        <ListItem
          gridLayout={gridLayout}
          narrow={gridLayout === 'tiles' && i === 1}
          post={article}
        />
      ))}
      {posts.length === 1 && showAllLink && (
        <a
          class={cn(
            'moreLink',
            'flex items-center justify-center rounded-2xl bg-card text-primary',
          )}
          href="/articles"
        >
          <EvervaultCard className="h-28 sm:h-[430px]" client:only="react" text="查看所有文章" />
        </a>
      )}
</div>
