---
import logoSvg from '@assets/icon/logo.svg';
import logoImage from '@assets/image/logo.png';
import Container from '@components/Container.astro';
import { menu } from '@consts';
import { cn } from '@lib/utils';
import ColorMode from '@react/components/ColorMode';
import MobileMenu from '@react/components/MobileMenu';
import { SearchButton } from '@react/components/Search';
import { Image } from 'astro:assets';
---

<style>
  .logo-container:hover {
    .svg-image {
      opacity: 0;
    }
    .png-image {
      opacity: 1;
    }
  }
  .svg-image, .png-image {
    transition: opacity 300ms;
  }
  .header {
    box-shadow: 0 1px 3px 0 color-mix(in oklch, var(--color-bg) 80%, transparent);
  }
</style>

<header class="header sticky! -top-10 z-10 flex pt-10 backdrop-blur-sm bg-bg/0 transition-colors duration-300 hover:bg-bg/40 sm:-top-16 sm:pt-16">
  <Container class="flex w-full items-center justify-between gap-4 sm:gap-6 lg:gap-8">
    <a href="/">
      <div class="logo-container relative">
        <Image
          alt="logo"
          class="svg-image absolute left-0 top-0 hidden size-20 text-primary opacity-100 dark:invert sm:block"
          src={logoSvg}
        />
        <Image
          alt="logo"
          class="png-image size-6 object-contain opacity-100 sm:size-20"
          src={logoImage}
        />
      </div>
    </a>
    <div class="hidden items-center justify-center gap-4 sm:flex lg:gap-8">
      {
        menu.map(item => (
          <a href={item.path}>
            <div class="flex items-center flex-col md:flex-row h-20 justify-evenly">
              <span class={cn('mr-0 opacity-75 md:mr-2 iconify', item.icon.replace(':', '--'))} />
              <div>{item.name}</div>
            </div>
          </a>
        ))
      }
    </div>
    <div class="flex items-center gap-2">
      <SearchButton
        appId={import.meta.env.GATSBY_ALGOLIA_APP_ID!}
        appKey={import.meta.env.GATSBY_ALGOLIA_SEARCH_KEY!}
        client:only="react"
      />
      <ColorMode client:only="react" />
      <MobileMenu client:only="react" />
    </div>
  </Container>
</header>
