---
import Minimal from '@layouts/Minimal.astro';
import Gradient from './_index';

---
<Minimal description="" title="">
  <div class="w-sceen h-screen relative">
    <Gradient client:only="react" />
  </div>
</Minimal>
