@reference '../../../styles/global.css';

.Mask {
  box-shadow:
    0 10px 15px -3px #0000001a,
    0 4px 6px -4px #0000001a;
}
:global(.dark) .mask {
  box-shadow: inset 0 1px 0 0 #ffffff1d;
}
:global(.no-scroll) {
  overflow: hidden;
}
.resultItem {
  mark {
    @apply text-accent px-0.5 font-semibold underline underline-offset-2;
    background: none;
    transition:
      background 0.25s var(--ease-in-out-quad),
      border 0.25s var(--ease-in-out-quad),
      color 0.25s var(--ease-in-out-quad);
  }
}

.selected.recentItem,
.selected.resultItem {
  @apply bg-accent text-background;
  transition:
    background 0.25s var(--ease-in-out-quad),
    border 0.25s var(--ease-in-out-quad),
    color 0.25s var(--ease-in-out-quad);
}
.selected.recentItem {
  @apply text-card;
  .query {
    @apply bg-background text-primary;
    transition:
      background 0.25s var(--ease-in-out-quad),
      border 0.25s var(--ease-in-out-quad),
      color 0.25s var(--ease-in-out-quad);
  }
}

.selected.resultItem {
  mark {
    @apply text-background;
  }
  h2 {
    @apply bg-background text-primary;
    mark {
      @apply text-accent;
    }
  }
  .icon {
    @apply border-bg-alt;
    transition:
      background 0.25s var(--ease-in-out-quad),
      border 0.25s var(--ease-in-out-quad),
      color 0.25s var(--ease-in-out-quad);
  }
}
