.Mask {
  box-shadow:
    0 10px 15px -3px #0000001a,
    0 4px 6px -4px #0000001a;
}
:global(.dark) .mask {
  box-shadow: inset 0 1px 0 0 #ffffff0d;
}
:global(.no-scroll) {
  overflow: hidden;
}
.resultItem {
  mark {
    @apply font-semibold text-accent underline underline-offset-2 dark:text-dark-accent;
    background: none;
  }
}

.selected.recentItem,
.selected.resultItem {
  @apply bg-accent text-background dark:bg-dark-accent dark:text-dark-background;
}
.selected.recentItem {
  .query {
    @apply bg-card text-primary dark:bg-dark-card dark:text-dark-primary;
  }
}

.selected.resultItem {
  mark {
    @apply text-background dark:text-dark-background;
  }
  h2 {
    @apply text-primary dark:text-dark-primary;
    mark {
      @apply text-accent dark:text-dark-accent;
    }
  }
  .icon {
    @apply border-dark-secondary/80 dark:border-secondary/80;
  }
}
