.fullMask {
  background: linear-gradient(
    0,
    rgb(var(--color-bg-revert) / 0.2) 0%,
    rgb(var(--color-bg-revert) / 0) 40%,
    rgb(var(--color-bg-revert) / 0) 70%,
    rgb(var(--color-bg-revert) / 0.1) 100%
  );
}
.mask {
  background: linear-gradient(0, rgb(var(--color-bg-revert) / 0.2) 0%, rgb(var(--color-bg-revert) / 0) 60%);
}

.cell {
  box-shadow:
    0 30px 60px -10px rgba(0, 0, 0, 0.2),
    0 18px 36px -18px rgba(0, 0, 0, 0.22);
  @apply overflow-hidden rounded-md;
}

.photoCard {
  box-shadow:
    0 30px 60px -10px rgba(0, 0, 0, 0.2),
    0 18px 36px -18px rgba(0, 0, 0, 0.22);
  @apply overflow-hidden rounded-md;
}
