@reference '../../../styles/global.css';

.fullMask {
  background: linear-gradient(
    0,
    color-mix(in oklch, var(--color-bgRevert) 20%, transparent) 0%,
    color-mix(in oklch, var(--color-bgRevert) 0%, transparent) 40%,
    color-mix(in oklch, var(--color-bgRevert) 0%, transparent) 70%,
    color-mix(in oklch, var(--color-bgRevert) 10%, transparent) 100%
  );
}
.mask {
  background: linear-gradient(
    0,
    color-mix(in oklch, var(--color-bgRevert) 20%, transparent) 0%,
    color-mix(in oklch, var(--color-bgRevert) 0%, transparent) 60%
  );
}

.cell {
  box-shadow:
    0 30px 60px -10px rgba(0, 0, 0, 0.2),
    0 18px 36px -18px rgba(0, 0, 0, 0.22);
  @apply overflow-hidden rounded-md;
}

.photoCard {
  box-shadow:
    0 30px 60px -10px rgba(0, 0, 0, 0.2),
    0 18px 36px -18px rgba(0, 0, 0, 0.22);
  @apply overflow-hidden rounded-md;
}
