---
import Minimal from '@layouts/Minimal.astro';
import Pattern from './index';

---
<Minimal description="" title="">
  <div class="w-sceen h-screen relative">
    <Pattern client:only="react" />
  </div>
</Minimal>
